[Unit]
Description=Clippy Daemon
After=network.target

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=clippy_daemon
Restart=on-failure
RestartSec=500ms
Group=sudo

[Install]
WantedBy=multi-user.target